

.navbar {
    background-color: rgb(20, 0, 100);
  }

.container #main-navbar {
    font-size: 18px;
  }
  .card-description::first-letter {
    float: left;
    font-size: 4em;
    line-height: 0.8em;
    padding-top: 0.1em;
    padding-right: 0.1em;
    padding-left: 0.1em;
    font-family: Georgia, serif;
    color: #1d003f;
  }
  .page-background {
    background-color: rgb(20, 0, 100)
  }